<!-- FOOTER-->
<footer>
    <div class="footer-content">
        <div class="footer-logo">
            <img src="../assets/HH_logo_transparent.png" alt="Your Logo" style="width: 100px; aspect-ratio: 16/10;">
        </div>
        <div class="separator"></div> <!-- Use the gradient separator here -->
        <div class="footer-links">
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
            <a href="/noticeBoard">Notice Board</a>
            <div class="separator"></div> <!-- Use the gradient separator here -->
        </div>
        <div class="social-icons">
            <a href="https://www.facebook.com/JaypeeUniversityGuna/">
                <i class="fab fa-facebook"></i>
            </a>
            <a href="https://twitter.com/i/flow/login?redirect_after_login=%2Fjuet_official">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="https://www.instagram.com/jaypee_university_guna/">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://in.linkedin.com/school/jaypee-university-of-engineering-and-technology/">
                <i class="fab fa-linkedin"></i>
            </a>
        </div>
    </div>
    <div class="copyright" style="margin-top: 20px;">© 2023 Hostel Management System. All rights reserved.</div>
</footer>