<header class="header-area">
    <!-- site-navbar start -->
    <div class="navbar-area">
      <div class="container">
        <nav class="site-navbar">
          <!-- site logo -->
          <a href="/home" class="site-logo">H.H</a>
  
          <!-- site menu/nav -->
          <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/noticeBoard">Notice Board</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
  
          <!-- nav-toggler for mobile version only -->
          <button class="nav-toggler">
            <span></span>
          </button>
        </nav>
      </div>
    </div><!-- navbar-area end -->
</header>