/* Footer styles */
footer {
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.5));
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

/* Footer links */
.footer-links {
    margin-top: 10px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 16px;
}

.footer-links a:hover {
    color: #000a1a;
}

/* Social icons */
.social-icons {
    margin-top: 30px;
}

.social-icons a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 24px;
}

.social-icons a:hover {
    color: #000a1a;
}

/* Custom separator */
.separator {
    height: 1px;
    background: linear-gradient(to right, transparent, #fff, transparent);
    width: 50%;
    margin: 10px auto;
}

/* Responsive Styles */
@media (max-width: 768px) {
    /* Reduce the font size for smaller screens */
    .footer-links a, .social-icons a {
        font-size: 14px;
    }
    
    /* Adjust spacing for smaller screens */
    .footer-links {
        margin-top: 5px;
    }
    
    .social-icons {
        margin-top: 20px;
    }
    
    /* Reduce the size of the custom separator */
    .separator {
        height: 0.5px;
    }
}
