a {
    text-decoration: none;
    color: inherit;
}

.home-main {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    padding-bottom: 5vh;
}

.welcome {
    width: 100%;
    height: 50vh;
    background: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .2));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-container4 {
    width: 100%;
    height: 70vh;
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
}

@keyframes bounce {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.home-login-subcontainer {
    transition: transform 0.3s;
}

.home-login-subcontainer:hover {
    transform: scale(1.2);
    transition: transform 1s;
    animation: bounce 1s ease-in-out;
}

.home-login-container {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.home-login-subcontainer {
    width: 30%;
    height: 95%;
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.home-login-subcontainer-img {
    width: 90%;
    height: 30%;
}

.home-login-subcontainer-text {
    height: 40%;
    width: 90%;
    font-size: 3vw;
}

.home-login-subcontainer-btn {
    height: auto;
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 2vw;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
}

.home-login-subcontainer-btn:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4;
}

.home-login-subcontainer-btn a span {
    position: absolute;
    display: block;
}

.home-login-subcontainer-btn a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }
    50%,
    100% {
        left: 100%;
    }
}

.home-login-subcontainer-btn a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }
    50%,
    100% {
        top: 100%;
    }
}

.home-login-subcontainer-btn a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }
    50%,
    100% {
        right: 100%;
    }
}

.home-login-subcontainer-btn a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }
    50%,
    100% {
        bottom: 100%;
    }
}

.home-welcome {
    font-size: 5vw;
    /* Use vw unit for font size */
    padding: 2%;
}


/* Adjust font size for smaller screens */

@media (max-width: 768px) {
    .home-welcome {
        font-size: 8vw;
    }
    .home-container4 {
        height: 30vh;
    }
    .welcome {
        height: 30vh;
    }
    .home-about {
        height: 30vh;
    }
    .home-login-container {
        height: 30vh;
    }
    .home-login-subcontainer-text {
        font-size: 2.5vw;
    }
    .home-login-subcontainer-btn {
        height: auto;
        position: relative;
        bottom: 5%;
        display: inline-block;
        padding: 5px 10px;
        color: #03e9f4;
        font-size: 1.5vw;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        transition: .5s;
        letter-spacing: 4px
    }
    .home-login-subcontainer-btn:hover {
        background: #03e9f4;
        color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 5% #03e9f4, 0 0 25% #03e9f4, 0 0 50% #03e9f4, 0 0 100% #03e9f4;
    }
}


/* Adjust height for smaller screens */

@media (max-height: 600px) {
    .welcome {
        height: 20vh;
    }
    .home-login-subcontainer-text {
        font-size: 2.5vw;
    }
}